#map {
    width: 1245px;
    height: 695px;
    margin-left: -12px;
    margin-top: 55px;
}

.img-responsive {
    max-width: 350px;
    max-height: 350px;
}

.table > tbody > tr > th > td {
     vertical-align: middle;
}

.infowind {
    max-width: 410px;
    max-height: 410px;
}